
.first {
  background: url(../img/bgn.png);
  padding: 30px 0px 81px;
  position: relative;
  .container {
    z-index: 2;
    position: relative;
  }
}

.header_man {
  background: url(../img/header_man.png) no-repeat center;
  width: 100%;
  height: 661px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.first__header {
  display: flex;
  justify-content: space-between;
}

.first__header__block {
  display: flex;
  justify-content: space-between;
  width: 425px;
  &-item {
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 20px;
      color: #555555;
      max-width: 201px;
      font-size: 14px;
      a {
        font-size: 16px;
        color: black;
        text-decoration: none;
        position: relative;
        transition: 0.3s;
        &:hover {
          color: #feb429;
          &:after {
            display: none;
          }
        }
        &:after {
          height: 1px;
          width: 100%;
          background: #c4c7c6;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}

.first__body {
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    margin: 68px 0 0;
    &__logo {
      font-size: 60px;
      font-weight: 900;
      color: #777777;
    }
    &__text {
      color: black;
      font-weight: 900;
      font-size: 22px;
      position: relative;
      &:after {
        content: "";
        width: 40px;
        height: 4px;
        display: block;
        left: 0;
        bottom: 0;
        background: #38c3bd;
        margin: 27px 0;
      }
    }
    &__text-list {
      color: black;
      font-size: 18px;
      margin: 0 0 32px 0;
    }
    &-block {
      li {
        margin: 0 0 20px 0;
        .list-text {
          width: 300px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 19px;
          color: #444444;
          font-size: 18px;
          line-height: 1.5;
        }
        .check {
          background: #ffb400;
          display: inline-block;
          text-align: center;
          padding: 7px 0;
          margin: 7px 0 0 0;
          vertical-align: top;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          box-shadow: 0px 0px 0px 5px rgba(255, 180, 0, 0.30980392);
        }
      }
    }
  }
  &__form-pack {
    display: flex;
    justify-content: space-between;
    margin: 68px 0 0;
    align-items: flex-start;
    position: relative;
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        background: url("../img/arrow.svg");
        width: 49px;
        height: 230px;
        right: -70px;
        top: 101px;
      }
    }
    &__pack {
      background: url("../img/grass.png") no-repeat 296px 97px;
      position: relative;
      z-index: 5;
      align-self: flex-end;
      bottom: -125px;
      left: 76px;
      width: 500px;
      .discount {
        background: url(../img/discount.png) no-repeat;
        width: 81px;
        height: 81px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 32px;
        font-weight: 900;
        position: absolute;
        top: -37px;
        right: 128px;
        span {
          margin: 5px 0 0 -8px;
        }
      }
    }
  }
}

.form {
  background: white;
  width: 270px;
  box-shadow: 0 0 7px -1px #d4d4d4, 0 0 0 5px #f9f9f9;
  border-radius: 3px;
  padding: 0 10px 37px;
  &__price {
    display: flex;
    height: 105px;
    justify-content: space-around;
    &__old {
      color: #777777;
      padding: 15px 0 0;
      width: 102px;
      &__text {
        text-align: center;
        font-size: 13px;
        margin: 0 0 7px;
      }
      &__value {
        color: #999999;
        font-size: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        line-height: 28px;
        &:before {
          height: 1px;
          width: 86%;
          background: #d32f19;
          content: "";
          position: absolute;
          top: 11px;
          left: 10px;
          transform: rotate(15deg);
        }
        &:after {
          height: 1px;
          width: 86%;
          background: #d32f19;
          content: "";
          position: absolute;
          top: 11px;
          left: 10px;
          transform: rotate(-15deg);
        }
        .currency {
          font-size: 16px;
        }
      }
    }
    &__new {
      color: white;
      background: url("../img/flag_price.svg") no-repeat;
      padding: 15px 0 0;
      width: 102px;
      &__text {
        text-align: center;
        font-size: 13px;
        margin: 0 0 7px;
      }
      &__value {
        font-size: 34px;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        line-height: 28px;
        .currency {
          font-size: 16px;
        }
      }
    }
  }
  &__lastpack {
    font-size: 16px;
    color: #444444;
    text-align: center;
    margin: 4px 0 0 0;
    .orange__bold {
      font-weight: 900;
      color: #ff7000;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      background: url(../img/name_icon.svg) no-repeat;
      width: 19px;
      height: 23px;
      content: "";
      display: block;
      position: absolute;
      bottom: 192px;
      z-index: 2;
      left: 37px;
    }
    &:after {
      background: url(../img/icon_phone.svg) no-repeat;
      width: 21px;
      height: 25px;
      content: "";
      display: block;
      position: absolute;
      left: 37px;
      bottom: 108px;
      z-index: 2;
    }
    input {
      font-size: 16px;
      color: #212121;
      padding: 24px 0px 24px 53px;
      border-radius: 42px;
      border: none;
      background-color: #f6f9f8;
      margin: 14px 0 0 0;
      position: relative;
      box-shadow: inset 0px 0px 10px #e4e4e4;
      transition: 0.5s;
      width: 227px;
    }
  }
}

.protect {
  color: #666666;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  span {
    margin-left: 8px;
  }
}

.order_btn {
  width: 220px;
  background: #fd7532;
  height: 64px;
  border-radius: 33px;
  border: 0px solid #fe9133;
  border-bottom: 2px solid #fe9133;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 17px;
  margin-top: 24px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 16px 26px -12px #e7501b, 0px 6px 0px -2px #e46322;
  position: relative;
  span {
    font-size: 17px;
    display: inline-block;
  }
}


