
.first {
  background: url(../img/bgn.png);
  background-size: cover;
  padding: 30px 0 81px;
  position: relative;
  .container {
    z-index: 2;
    position: relative;
  }
}

.header_man {
  background: url(../img/header_man.png) no-repeat center;
  width: 100%;
  height: 661px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.first__header {
  display: flex;
  justify-content: space-between;
}

.first__header__block {
  display: flex;
  justify-content: space-between;
  width: 425px;
  &-item {
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 20px;
      color: #555555;
      max-width: 201px;
      font-size: 14px;
      .call{
        font-size: 16px;
        color: black;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: #feb429;
          &:after {
            background: #feb429;
          }
        }
        &:after {
          height: 1px;
          width: 100%;
          background: #c4c7c6;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}

.first__body {
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    margin: 68px 0 0;
    &__logo {
      font-size: 60px;
      font-weight: 900;
      color: #777777;
    }
    &__text {
      color: black;
      font-weight: 900;
      font-size: 22px;
      position: relative;
      &:after {
        content: "";
        width: 40px;
        height: 4px;
        display: block;
        left: 0;
        bottom: 0;
        background: #38c3bd;
        margin: 27px 0;
      }
    }
    &__text-list {
      color: black;
      font-size: 18px;
      margin: 0 0 32px 0;
    }
    &-block {
      li {
        margin: 0 0 20px 0;
        .list-text {
          width: 300px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 19px;
          color: #444444;
          font-size: 18px;
          line-height: 1.5;
        }
        .check {
          background: #ffb400;
          display: inline-block;
          text-align: center;
          padding: 7px 0;
          margin: 7px 0 0 0;
          vertical-align: top;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          box-shadow: 0px 0px 0px 5px rgba(255, 180, 0, 0.30980392);
        }
      }
    }
  }
  &__form-pack {
    display: flex;
    justify-content: space-between;
    margin: 68px 0 0;
    align-items: flex-start;
    position: relative;
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        background: url("../img/arrow.svg");
        width: 49px;
        height: 230px;
        right: -70px;
        top: 101px;
      }
    }
    &__pack {
      background: url("../img/grass.png") no-repeat 296px 97px;
      position: relative;
      z-index: 5;
      align-self: flex-end;
      bottom: -125px;
      left: 76px;
      width: 500px;
      .discount {
        background: url(../img/discount.png) no-repeat;
        width: 81px;
        height: 81px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 32px;
        font-weight: 900;
        position: absolute;
        top: -37px;
        right: 128px;
        span {
          margin: 5px 0 0 -8px;
        }
      }
    }
  }
}

.form {
  background: white;
  width: 270px;
  box-shadow: 0 0 7px -1px #d4d4d4, 0 0 0 5px #f9f9f9;
  border-radius: 3px;
  padding: 0 10px 37px;
  &__price {
    display: flex;
    height: 105px;
    justify-content: space-around;
    &__old {
      color: #777777;
      padding: 15px 0 0;
      width: 102px;
      &__text {
        text-align: center;
        font-size: 13px;
        margin: 0 0 7px;
      }
      &__value {
        color: #999999;
        font-size: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        line-height: 28px;
        &:before {
          height: 1px;
          width: 86%;
          background: #d32f19;
          content: "";
          position: absolute;
          top: 11px;
          left: 10px;
          transform: rotate(15deg);
        }
        &:after {
          height: 1px;
          width: 86%;
          background: #d32f19;
          content: "";
          position: absolute;
          top: 11px;
          left: 10px;
          transform: rotate(-15deg);
        }
        .currency {
          font-size: 16px;
        }
      }
    }
    &__new {
      color: white;
      background: url("../img/flag_price.png") no-repeat;
      padding: 15px 0 0;
      width: 102px;
      &__text {
        text-align: center;
        font-size: 13px;
        margin: 0 0 7px;
      }
      &__value {
        font-size: 34px;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        line-height: 28px;
        .currency {
          font-size: 16px;
        }
      }
    }
  }
  &__lastpack {
    font-size: 16px;
    color: #444444;
    text-align: center;
    margin: 4px 0 0 0;
    .orange__bold {
      font-weight: 900;
      color: #ff7000;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      background: url(../img/name_icon.svg) no-repeat;
      width: 19px;
      height: 23px;
      content: "";
      display: block;
      position: absolute;
      bottom: 192px;
      z-index: 2;
      left: 37px;
    }
    &:after {
      background: url(../img/icon_phone.svg) no-repeat;
      width: 21px;
      height: 25px;
      content: "";
      display: block;
      position: absolute;
      left: 37px;
      bottom: 108px;
      z-index: 2;
    }
    input {
      font-size: 16px;
      color: #212121;
      padding: 24px 0px 24px 53px;
      border-radius: 42px;
      border: none;
      background-color: #f6f9f8;
      margin: 14px 0 0 0;
      position: relative;
      box-shadow: inset 0px 0px 10px #e4e4e4;
      width: 227px;
      transition: 0.3s;
      &:focus{
        box-shadow: 0px 3px 9px 0px #eaeaea, inset 0px 0px 10px #e4e4e4;
        transition: 0.3s;
      }
    }
  }
}

.protect {
  color: #666666;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  span {
    margin-left: 8px;
  }
}

.order_btn {
  width: 220px;
  background: #fd7532;
  height: 64px;
  border-radius: 33px;
  border: 1px solid #fe9133;
  font-weight: 700;
  font-size: 30px;
  line-height: 17px;
  margin-top: 24px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 16px 26px -13px #e7501b, 0px 6px 0px -3px #e46322;
  position: relative;
  &:hover{
    background: #ffa800;
    background: -moz-linear-gradient(left, #ffa800 0%, #ffa000 12%, #ff9900 26%, #ff8f00 42%, #ff8300 61%, #ff7801 80%, #ff6b00 100%);
    background: -webkit-linear-gradient(left, #ffa800 0%,#ffa000 12%,#ff9900 26%,#ff8f00 42%,#ff8300 61%,#ff7801 80%,#ff6b00 100%);
    background: linear-gradient(to right, #ffa800 0%,#ffa000 12%,#ff9900 26%,#ff8f00 42%,#ff8300 61%,#ff7801 80%,#ff6b00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa800', endColorstr='#ff6b00',GradientType=1 );
  }
  &:active{
    top: 3px;
    box-shadow: 0px 16px 26px -13px #e7501b, 0px 2px 0px -3px #e46322;
  }
  span {
    font-size: 17px;
    display: inline-block;
  }
}



/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .first__body__form-pack__form:after{
    display: none;
  }
  .header_man {
    height: 659px;
    bottom: -76px;
    background-size: 399px;
  }
  .first__body__form-pack__pack {
    background: url(../img/grass.png) no-repeat 170px 36px;
    position: relative;
    z-index: 5;
    align-self: flex-end;
    bottom: -112px;
    left: 4px;
    width: 343px;
  }
  .first__body__form-pack__pack .discount{
    right: 56px;
  }
  .first__header__block{
    width: 42%;
  }
}

@media only screen and (max-width: 1023px) {
  .header_man{
    display: none;
  }
  .first__body__form-pack__pack{
    left: -19px;
    bottom: 0;
    align-self: center;
  }
  .first__body__list__text{
    font-size: 20px;
  }
  .first__body__list-block li .list-text {
    width: 250px;
  }
}

@media only screen and (max-width: 992px) {
  .first__header__block{
    width: 45%;
  }
  .first__body{
    flex-direction: column;
    align-items: center;
  }
  .first__body__list{
    max-width: 90%;
    text-align: center;
    margin: 35px 0 0;

  }
  .first__body__list__text:after{
    margin: 27px auto;
  }
  .first__body__list-block li .list-text{
    margin: 10px 0;
    width: 207px;
    font-size: 16px;
  }
  .first__body__list-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .first__body__form-pack{
    margin: 15px 0 0;
  }
  .first__body__list-block li .check{
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .first__header__block-item{
    flex-direction: column;
    text-align: center;
    margin: 0 5px;
  }
  .first__header__block-item p{
    margin: 10px 0 0;
  }
  .first__body__list-block{
    flex-direction: column;

  }
  .first__body__list-block li .check{
    display: inline-block;
  }
  .first__body__list-block li .list-text{
    margin: 0 0 0 15px;
    width: 300px;
    font-size: 16px;
    text-align: left;
  }
  .first__body__form-pack{
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .first__body__form-pack__pack{
    left: 0;
  }
  .first__header__block {
    width: 49%;
    justify-content: space-around;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .first__header__block-item,
  .first__header__block{
    display: none;
  }
  .first__header__block:nth-child(2){
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .first__body__list__text{
    font-size: 18px;
  }
  .first__header__block .order-call{
    display: block;
  }
  .first__body__list{
    margin: 15px 0 0;
  }
  .first__body__list__logo{
    font-size: 45px;
  }
  .first__body__list{
    max-width: 100%;
  }
  .first__body__form-pack__pack{
    width: 254px;
    background: url(../img/grass.png) no-repeat 106px -12px;
    background-size: 153px;
  }
  .first__body__form-pack__pack .discount {
    right: 39px;
    background-size: contain;
    width: 67px;
    height: 67px;
    font-size: 25px;
  }
  .first__body__list-block li .list-text {
    margin: 0 0 0 8px;
    width: 252px;
  }
  .first__body__list__text:after {
    margin: 14px auto;
  }

}


