@import "vars";


/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {
  .section {
    padding: $padding-lg;
  }
  .title {
    font-size: $title-lg;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .section {
    padding: $padding-md;
  }
  .title {
    font-size: $title-md;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .section {
    padding: $padding-sm;
  }
  .title {
    font-size: $title-sm;
  }
}