/*********************second***************** */
.reasons {
  padding: 93px 0 59px;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.under__title {
  color: #444444;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

.problem__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.problem__item {
  max-width: 270px;
  position: relative;
  &::after {
    content: "";
    width: 30px;
    height: 5px;
    background: #42cac4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
  }
}

.problem__name {
  font-size: 19px;
  font-weight: 900;
  text-align: center;
  margin: 25px 0;
}

.problem__descr {
  font-size: 18px;
  line-height: 22px;
  color: #444444;
  text-align: center;
  margin-top: 31px;
}

.problem__top {
  background: white;
  border: 5px solid #eff2f1;
  border-radius: 7px 7px 0 0;
  transition: all .5s ease;
}
.problem__item:hover:after{
  width: 50px;
}
.problem__img {
  position: relative;
  font-size: 0;
}

.problem__arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -17px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(255, 180, 0, 1) url(../img/arrow_problem.png) no-repeat center center;
  box-shadow: 0px 0px 0px 6px rgba(255, 180, 0, 0.3);
  transition: 0.5s;
  &:hover{
    box-shadow: 0px 0px 0px 9px rgba(255, 180, 0, 0.3);
  }
}

.problem__line {
  margin-top: 50px;
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  position: relative;
  &::after {
    content: "";
    width: 18px;
    height: 18px;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }
}

.problem__attention {
  text-align: center;
  position: relative;
  font-size: 23px;
  margin-top: 35px;
  padding-top: 40px;
  &::after {
    content: "";
    width: 35px;
    height: 35px;
    background: url(../img/attention.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.arrow__scroll {
  width: 11px;
  height: 30px;
  background-size: contain;
  margin: 20px auto;
  cursor: pointer;
  text-align: center;
  display: block;
  &:hover .trigle{
    background: #ffb400;
    transition: 0.5s;
    &:before{
      border-top: 6px solid #ffb400;
      transition: 0.5s;
    }
  }
  .trigle{
    height: 25px;
    width: 1px;
    background: #bfbfbf;
    display: block;
    position: relative;
    left: 7px;
    &:before{
      border: 6px solid transparent;
      border-top: 6px solid #bfbfbf;
      content: '';
      display: block;
      position: absolute;
      bottom: -11px;
      left: -5px;
    }
  }
}




/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .problem__item {
    max-width: 240px;
  }
  .problem__name {
    font-size: 17px;
  }
  .problem__descr {
    font-size: 17px;
  }
  .problem__line {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 1023px) {

  .problem__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .problem__item {
    margin: 20px 50px;
  }
  .arrow__scroll{
    margin: 20px auto 0;
  }

}

//@media only screen and (max-width: 992px)
@media only screen and (max-width: 767px) {

  .problem__item {
    margin: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {

  .title {
    font-size: $title-sm;
  }
}