@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    /**/

.problem__item
  max-width: 240px
.problem__name
	font-size: 17px
.problem__descr
	font-size: 17px
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1023px)
  .section
    padding: $padding-lg
  .title
    font-size: $title-lg
  .problem__list
  	flex-wrap: wrap
  	justify-content: center
  .problem__item
  	margin: 20px 50px
  

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
  .section
    padding: $padding-md
  .title
    font-size: $title-md
  .problem__item
  	margin: 20px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .section
    padding: $padding-sm
  .title
    font-size: $title-sm
